
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('Images/background-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.9);
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #444;
}

a {
    color: #444;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #2f0b0b;
}

/* Navbar */
.navbar {
    background: linear-gradient(135deg, #894a65, #ffffff); /* Light pink to white gradient */
    border-bottom: 2px solid #eaeaea;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.navbar-brand {
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ac767c; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    transition: color 0.3s, transform 0.3s, text-shadow 0.3s;
    display: inline-block;
    position: relative;
}


.navbar-brand::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #444;
    transition: width 0.3s ease-in-out;
}

.navbar-brand:hover::before {
    width: 100%;
}

.navbar-brand:hover {
    color: #000;
    transform: scale(1.05);
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    animation: fade-in-out 1s infinite alternate;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    font-weight: 900; 
    color: #e8e0e1; 
    margin: 0 10px;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    position: relative;
    padding: 8px 15px;
    border-radius: 5px;
}

.navbar-nav .nav-link:hover {
    color: #250404;
    background-color: #d0a7c2; 
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28178, 58, 72, 0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@keyframes fade-in-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.7;
    }
}

#hero {
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 120px 0;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
    position: relative;
    z-index: 1;
}

#hero .row {
    align-items: center;
}

#hero .hero-image {
    max-width: 70%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s;
}

#hero .hero-image:hover {
    transform: scale(1.05);
}

#hero h1 {
    font-family: 'Cormorant Garamond', cursive;
    font-size: 4rem;
    font-weight: 700;
    color: #453c3c;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    animation: fadeInSlideUp 2s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


#hero p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: #333;
    max-width: 500px;
    margin: 0 auto 30px;
    animation: fadeInSlideUp 2s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
}


#hero .btn-primary {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    background: linear-gradient(135deg, #923c669a, #e188bf);
    color: #fff;
    border: none;
    padding: 15px 30px;
    margin-bottom: 10px;
    border-radius: 25px;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#hero .btn-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(42, 5, 5, 0.2);
    transition: left 0.3s ease;
    z-index: -1;
}

#hero .btn-primary:hover::before {
    left: 100%;
}

#hero .btn-primary:hover {
    background: linear-gradient(135deg, #e34292, #333);
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

#hero .btn-primary:active {
    transform: translateY(0) scale(1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* About Section */
#about {
    padding: 80px 0;
    background-color: rgba(255, 255, 255, 0.8);
    animation: slideInLeft 1.5s ease-in-out;
    position: relative;
    z-index: 1;
}



@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#about h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    font-weight: 700;
    color: #5c3337;
    margin-bottom: 20px;
    text-align: center;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}

#about h2:hover {
    color: #825571; 
    transform: translateY(-5px); 
}

#about h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #b23a48;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
}

#about h2:hover::after {
    width: 50%; /* Expand underline on hover */
    left: 50%;
}

#about p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
}

#projects {
    padding: 80px 0;
    background-color: rgba(255, 255, 255, 0.8);
    animation: slideInRight 1.5s ease-in-out;
    position: relative;
    z-index: 1;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#projects h2 {
    margin-bottom: 50px;
}

#projects .row > div {
    margin-bottom: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#projects .row > div:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Skills Section */
#skills {
    padding: 80px 0;
    background-color: rgba(255, 255, 255, 0.8);
    animation: fadeIn 1.5s ease-in-out;
    position: relative;
    z-index: 1;
}

#skills h2 {
    margin-bottom: 30px;
}

#skills .list-group-item {
    font-size: 1.1rem;
    border: none;
    background-color: rgba(244, 247, 249, 0.8);
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

#skills .list-group-item:hover {
    background-color: #444;
    color: #fff;
}

/* Contact Section */
#contact {
    padding: 80px 0;
    background-color: rgba(255, 255, 255, 0.8);
    animation: fadeInUp 1.5s ease-in-out;
    position: relative;
    z-index: 1;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#contact h2 {
    margin-bottom: 30px;
}

#contact .form-control {
    margin-bottom: 20px;
    border-radius: 5px;
}

#contact .btn-primary {
    background-color: #444;
    border: none;
    transition: background-color 0.3s;
}

#contact .btn-primary:hover {
    background-color: #000;
}

/* Footer */
footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 20px 0;
    font-size: 0.9rem;
    animation: fadeIn 1.5s ease-in-out;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

.is-invalid {
    border-color: #dc3545;
    background-color: #f8d7da;
}

.is-invalid:focus {
    box-shadow: 0 0 5px 1px #dc3545;
}


.section-heading {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    font-weight: 700;
    color: #b23a48;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}

.section-heading:hover {
    color: #825571;
    transform: translateY(-5px);
}

.section-heading::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #b23a48;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
}

.section-heading:hover::after {
    width: 50%;
    left: 50%;
}

